# World Cup Prediction Model
### By: David Hoffman and Kyle Kolodziej

## 1. Problem Definition

For this project we would like to take the most recent world cup data (including each team that is playing in the tournament and the different statistical evaluations for these teams) and use this data to predict the percentage for success that a user imputed team has.  The user will be able to input a specific team and different attack and defense ratings for that team and the model will be able to remove that team from the dataset and predict the success percentage for that team given the inputed data.  This will allow a person to see the success percentages of their chosen team given its current data or in a hypothetical situation where its attack or defense is better than it actually is.

## 2. Data Gathering

In [117]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

# Code on how to get data extracted from all the teams for all years on both pages of FIFA's International rankings
data = pd.DataFrame(columns=['Year', 'Team', 'att', 'mid', 'def', 'ovr'])
version = 0
for fifa in range(5, 24):
    toFind = True
    print("On fifa ", fifa)
    while toFind:
        version += 1
        #print("here")
        for page in range(2):
            # https://www.fifaindex.com/teams/fifa22_527/?page=1&type=1
            #print(version)
            webAddress = ""
            toCheck = "" # check matching version in responses title
            if fifa < 10:
                toCheck = '0' + str(fifa)
                webAddress = 'https://www.fifaindex.com/teams/fifa0' + str(fifa) + '_' + str(version) + '/?page=' + str(page+1)+'&type=1'
            elif fifa < 23:
                toCheck = str(fifa)
                webAddress = 'https://www.fifaindex.com/teams/fifa' + str(fifa) + '_' + str(version) + '/?page=' + str(page+1)+'&type=1'
            else:
                # Get current stats
                toCheck = str(fifa - 1)
                webAddress = 'https://www.fifaindex.com/teams/?page=' + str(page+1) + '&type=1'
            r = requests.get(webAddress)

            if r.status_code != 200:
                print("Error getting web address")
                version += 1
                break
    #         else:
    #             print(fifa, version, page, )
    #             print(r.status_code , webAddress)

            soup = BeautifulSoup(r.content, 'html.parser')

            #print(soup.prettify())
            
            if toCheck not in str(soup.title):
#                 print("not in title!")
#                 print("Title: " + str(soup.title))
#                 print("Fifa: " + toCheck + "\n")
                break
            else:
                toFind = False
            s = soup.find('table', class_='table table-striped table-teams')
            content = s.find_all('td')

            year = 1999 + fifa # Need to update
            team, attRate, midRate, defRate, ovrRate  = '', None, None, None, None
            # teams = []
            i = 0
            for line in content:
                if line.text != '' and line.text != 'International' and line.text != '\n\n':
                    # Teams was keeping track of all lines parsed, useful for seeing which index corresponds with an attribute
                    # teams.append(line.text)
                    # Assign value to respective variable
                    if i == 0:
                        team = line.text
                    elif i == 1:
                        attRate = line.text
                    elif i == 2:
                        midRate = line.text
                    elif i == 3:
                        defRate = line.text
                    elif i == 4:
                        ovrRate = line.text
                        df2 = pd.DataFrame({'Year': [year],
                                'Team': [team],
                                'att': [attRate],
                                'mid': [midRate],
                                'def': [defRate],
                                'ovr': [ovrRate]})
                        data = data.append(df2, ignore_index = True)

                    # Update i
                    # If i is at 5, reset to 0 as at the start of a new team in the content
                    i += 1
                    if i == 5:
                        i = 0

On fifa  5
On fifa  6
On fifa  7
On fifa  8
On fifa  9
On fifa  10
On fifa  11
On fifa  12
On fifa  13
On fifa  14
On fifa  15
On fifa  16
Error getting web address
On fifa  17
On fifa  18
On fifa  19
On fifa  20
Error getting web address
On fifa  21
Error getting web address
On fifa  22
Error getting web address
Error getting web address
Error getting web address
On fifa  23

In [120]:
data.tail(5)

     Year              Team att mid def ovr
871  2022         Australia  75  69  70  70
872  2022          China PR  74  70  67  70
873  2022           Iceland  70  68  70  70
874  2022  Northern Ireland  65  70  71  70
875  2022       New Zealand  69  67  68  68

In [55]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

# Code on how to get data extracted from all the teams on the first page of 

r = requests.get('https://www.fifaindex.com/teams/fifa22_527/?type=1')
soup = BeautifulSoup(r.content, 'html.parser')
#print(soup.prettify())

s = soup.find('table', class_='table table-striped table-teams')
#teams = s.find_all('a', class_ = 'link-team')
content = s.find_all('td')

data = pd.DataFrame(columns=['Year', 'Team', 'att', 'mid', 'def', 'ovr'])
year = 2022
team, attRate, midRate, defRate, ovrRate  = '', None, None, None, None
teams = []
i = 0
for line in content:
    #print(line.text)
    if line.text != '' and line.text != 'International' and line.text != '\n\n':
        teams.append(line.text) # keeping track of all lines parsed
        
        # Assign value to respective variable
        if i == 0:
            team = line.text
        elif i == 1:
            attRate = line.text
        elif i == 2:
            midRate = line.text
        elif i == 3:
            defRate = line.text
        elif i == 4:
            ovrRate = line.text
            df2 = pd.DataFrame({'Year': [year],
                    'Team': [team],
                    'att': [attRate],
                    'mid': [midRate],
                    'def': [defRate],
                    'ovr': [ovrRate]})
            df = df.append(df2, ignore_index = True)
        
        # Update i
        i += 1
        if i == 5:
            i = 0

In [60]:
df.head(25)

    Year                     Team att mid def ovr
0   2022                   France  88  85  83  85
1   2022                  Germany  84  86  81  85
2   2022                 Portugal  85  83  85  84
3   2022                    Spain  83  85  82  84
4   2022                  England  86  83  83  83
5   2022                Argentina  86  81  81  83
6   2022                    Italy  84  84  82  83
7   2022                  Belgium  83  82  81  83
8   2022                  Holland  81  82  84  82
9   2022                   Brazil  80  80  80  80
10  2022                  Denmark  76  81  79  79
11  2022                   Mexico  79  77  76  78
12  2022  Austria (National team)  81  76  78  77
13  2022                   Poland  81  76  74  77
14  2022                   Sweden  79  76  75  77
15  2022                   Norway  80  76  73  76
16  2022                  Ukraine  77  77  74  76
17  2022                 Scotland  76  76  76  76
18  2022           Czech Republic  75  76  75  76
19  2022                   Russia  75  75  72  75
20  2022            United States  74  74  74  75
21  2022                    Wales  74  74  72  74
22  2022                   Greece  73  74  73  74
23  2022                   Canada  77  73  70  73
24  2022                  Hungary  71  71  73  73

Let's get the previous game data now

In [154]:
game = pd.read_csv("results.csv")
game["Year"] = game.date.str[:4].astype(str) # string splice first 4 letters of entire date column

In [155]:
game.head(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876

In [156]:
# Drop data from before 2004 as don't have any metrics
import numpy as np
game = game.where(game['Year'] >= '2004')
game = game.dropna()
game.head(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,Year
26360,2004-01-01,Bahrain,Saudi Arabia,0.0,1.0,Gulf Cup,Kuwait City,Kuwait,1.0,2004
26361,2004-01-01,Bermuda,Barbados,0.0,4.0,Friendly,Hamilton,Bermuda,0.0,2004
26362,2004-01-01,Kuwait,Yemen,4.0,0.0,Gulf Cup,Kuwait City,Kuwait,0.0,2004
26363,2004-01-03,Oman,Bahrain,0.0,1.0,Gulf Cup,Kuwait City,Kuwait,1.0,2004
26364,2004-01-03,United Arab Emirates,Qatar,0.0,0.0,Gulf Cup,Kuwait City,Kuwait,1.0,2004

In [160]:
game.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17061 entries, 26360 to 43420
Data columns (total 10 columns):
date          17061 non-null object
home_team     17061 non-null object
away_team     17061 non-null object
home_score    17061 non-null float64
away_score    17061 non-null float64
tournament    17061 non-null object
city          17061 non-null object
country       17061 non-null object
neutral       17061 non-null float64
Year          17061 non-null object
dtypes: float64(3), object(7)
memory usage: 1.4+ MB

In [162]:
game["Year"].value_counts()

2019    1156
2008    1095
2021    1086
2011    1083
2004    1066
2012    1007
2015    1003
2007     975
2013     968
2017     958
2016     928
2009     912
2018     908
2014     860
2010     854
2006     832
2005     799
2020     299
2022     272
Name: Year, dtype: int64

In [163]:
game["tournament"].value_counts()

Friendly                                      5957
FIFA World Cup qualification                  4023
UEFA Euro qualification                       1084
African Cup of Nations qualification           744
African Cup of Nations                         357
UEFA Nations League                            308
CECAFA Cup                                     278
AFC Asian Cup qualification                    269
CFU Caribbean Cup qualification                264
African Nations Championship                   264
FIFA World Cup                                 256
Gold Cup                                       238
COSAFA Cup                                     233
AFF Championship                               207
UEFA Euro                                      195
Copa América                                   190
Island Games                                   185
AFC Asian Cup                                  179
Gulf Cup                                       136
EAFF Championship                              108
CONCACAF Nations League                        106
SAFF Cup                                       104
CONIFA World Football Cup                      101
AFC Challenge Cup                              100
AFC Challenge Cup qualification                 92
CFU Caribbean Cup                               82
UNCAF Cup                                       79
WAFF Championship                               71
CONCACAF Nations League qualification           68
African Nations Championship qualification      64
                                              ...
South Pacific Games                             24
ABCS Tournament                                 20
Inter Games Football Tournament                 19
ELF Cup                                         16
Merdeka Tournament                              16
Arab Cup qualification                          15
Intercontinental Cup                            14
Nile Basin Tournament                           14
COSAFA Cup qualification                        12
Oceania Nations Cup qualification               12
Windward Islands Tournament                     12
Gold Cup qualification                          11
FIFI Wild Cup                                   10
Malta International Tournament                  10
VFF Cup                                          9
Mahinda Rajapaksa Cup                            7
Amílcar Cabral Cup                               6
Nations Cup                                      6
Lunar New Year Cup                               5
Navruz Cup                                       4
Prime Minister's Cup                             4
Copa del Pacífico                                4
World Unity Cup                                  4
OSN Cup                                          4
Dragon Cup                                       4
Three Nations Cup                                3
AFF Championship qualification                   2
Copa América qualification                       2
Atlantic Heritage Cup                            2
Copa Paz del Chaco                               2
Name: tournament, Length: 71, dtype: int64

Drop all the friendlies?

## 3. Data Preperation and EDA

## 4. Feature Engineering and Feature Selection

## 5. Model Training and Model Evaluation

## 6. Hyperparameter Tuning and Evaluation

## 7. Prediction

## 8. References

[1] Deploying Machine Learning Model Using Heroku. https://datamahadev.com/deploying-machine-learning-model-using-heroku/

https://www.kaggle.com/datasets/martj42/international-football-results-from-1872-to-2017